<h2 class="text-center">Our repository</h2> 
<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="icon-search"></i></div>
        <input type="text" class="form-control" placeholder="I'm looking for..." ng-model="searchWord">
      </div>      
    </div>
</form>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>
                <a href="#/" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Repository
                    <span ng-show="sortType == 'name' && !sortReverse" class="icon-arrow-down2"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="icon-arrow-up2"></span>
            </th>
            <th class="text-center">
                <a href="#/" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse">
                    Last activity
                    <span ng-show="sortType == 'updated_at' && !sortReverse" class="icon-arrow-down2"></span>
                    <span ng-show="sortType == 'updated_at' && sortReverse" class="icon-arrow-up2"></span>
                </a>
            </th>
            <th class="text-center">
                <a href="#/" ng-click="sortType = 'forks_count'; sortReverse = !sortReverse">
                    Forks count
                    <span ng-show="sortType == 'forks_count' && !sortReverse" class="icon-arrow-down2"></span>
                    <span ng-show="sortType == 'forks_count' && sortReverse" class="icon-arrow-up2"></span>
                </a>
            </th>
        </tr>
        <tr ng-repeat="repo in repoData | orderBy:sortType:sortReverse | filter:searchWord">
        <span ng-hide="repoData">Loading...</span>
            <td>                   
                <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
                <small>{{repo.description}}</small>                   
            </td>
            <td class="text-center"> {{repo.updated_at | date:'dd/MM/yyyy'}}</td>
            <td class="text-center">{{repo.forks_count}}</td>
        </tr>
    </table>
</div> <!-- /.table-responsive -->